<h1>Account List</h1>
<h3><%= link_to "New Account", accounts_new_path %></h3>
<table style='width:100%'>
  <tr>
    <th style='float: left' >Title</th>
    <th style='float: left' >Account No.</th>
    <th >Description</th>
  </tr>

  <% @accounts.each do |acc| %>
    <tr>
      <td> <%= acc.title %> </td>
      <td> <%= acc.acc_no %> </td>
      <td> <%= acc.description %> </td>
    </tr>
  <% end %>
</table>

